<%= javascript_include_tag "apoena.js" %>
<%= javascript_include_tag "apoena_parser.js" %>

<div class="analysecode">

	<div class="container">

		<div class="form" align="center"><br>

			<%if current_user %>
				<%= form_for :project do |p| %> 
				  <%= p.url_field :link, :placeholder => "GitHub link of project" %> 
				  <%= p.submit "Submit project", class: "btn-submit" %>
	

				<% end %>

				<canvas id= "class_diagram" userID = "<%= current_user.id%>" 
					projectName = "<%= Project.find_by_user_id(current_user.id).name%>" 
					width="800" 
					height="600">
				</canvas>

			<%end%>
		
    </div>
	</div>
</div>

<%= javascript_include_tag "load_from_apoena.js" %>