<%= render_navigation %>

<table align="center">
  <tr>
    <th>Title</th>
    <th>Link</th>
    <th>Class Diagram</th>
    <th>Analysis Date</th>
  </tr>

		<% @projects.each do |p| %>
		  <tr>
		    <td><%= p.name %></td>
		    <td><%= p.link %></td>
		    <td><%= link_to "Show", "/analyse_code?project_name=#{p.name}" %></td>
		    <td><%= p.created_at %></td>
		  </tr>
	        <% end %>
</table>
