<!DOCTYPE html>
<html>
<head>
  <title>KuniriWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <p id="notice"><%= notice %></p>
     <div class="row">
      
          <% if current_user %>
            <p class="welcome">
              <h5 class="barNav">
                Welcome, <%= current_user.first_name %>! 
                <%= link_to 'Settings', '/settings' %>
                <%= link_to 'Logout', logout_path,method: "delete" %>
              </h5>       
          <% else %>
            <h5 class="barNav">
              <%= link_to 'Login', "/login" %>
            
              <%= link_to 'Sign Up', "/sign_up" %> 
            </h5>
          <% end %>
          

          <h1>Kuniri<i>Web</i></h1>
          <h2 class="barNav">
              <%= link_to 'Home', "/kuniri" %>

              <%= link_to 'Analyse Code', "/analyse_code" %>

              <%= link_to 'Contact', "/contact" %>

              <%= link_to 'Team', "/team" %>

              <%= link_to 'Users', "/index" %>
	      
          </h2>

      </div>

<%= yield %>

</body>

      <footer>
        <div align="center">
        <hr>
         <p>© Copyright 2015. Kuniri.</p>
        </hr>
        </div>
      </footer>
</html>
