<!DOCTYPE html>
<html>
<head>
  <title>KuniriWeb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p id="notice"><%= notice %></p>
     <div class="row">
        <div class="large-12 columns">
          
          <% if current_user %>
            <h5>
            	<li>Welcome <%= current_user.first_name %></li>
              <%= current_user.email %>
              <%= link_to 'Edit', '/edit' %>
              <%= link_to 'Logout', logout_path,method: "delete" %>
            </h5>        
          <% else%>
            <h5> 
              <%= link_to 'Login', "/login" %>
            
              <%= link_to 'Sign Up', "/sign_up" %> 
            </h5>
          <% end %>
          

          <h1>Kuniri<i>Web</i></h1>
          <h2><%= link_to 'Home', "/kuniri" %>

              <%= link_to 'Analyse_Code', "/analyse_code" %>

              <%= link_to 'Contact', "/contact" %>

              <%= link_to 'Team', "/team" %>

          </h2>
        </div>
      </div>

<%= yield %>

</body>
</html>
